<!DOCTYPE html>
<html lang="en">

<head>

  <title>Midterm app - Email</title>

  <%- include('partials/_head.ejs') %>

</head>

<body>

  <%- include('partials/_nav.ejs') %>

    <div class="container">

      <h1>
        <i class="fa-solid fa-arrow-left" onclick="history.back()"></i>Email Listing<span id="user-id" style="display: none;"><%= userId %></span>
      </h1>

      <div class="d-flex justify-content-center" id="email-listing">

        <div style="font-family: Roboto; border-radius: 5px; padding: 1px 30px; width: 75%;">
          <h2 style="font-size:30px"></h2>
          <form accept-charset="UTF-8" action="" method="POST" enctype="multipart/form-data"  target="_blank" id="wpform">
             
             <div class="d-flex flex-column align-items-start">
                <div><label>Email address</label></div>
                <div>
                   <input style="margin-top: 5px;background-color: #fff; height:35px; width:300px;" type="email" name="email" placeholder="Enter your email address" required="required">
                </div>
             </div>
             <br>
             <div class="d-flex flex-column align-items-start">
                <label>Your Message</label>
                <div>
                   <textarea class="email-text" type="text" name="message" required="required"><%= year %> <%= make %> <%= model%> $<%= price %>  <%= url %></textarea>
                </div>
             </div>
             <input type="hidden" name="utf8" value="✓">
             <button class="d-flex flex-column align-items-start" style="font-size:14px; background-color:#6b7ddf; color:#fff; font-weight:bold; padding:10px 35px; margin: 5px 0 0 0;" type="submit">SUBMIT</button>
          </form>
       </div>

      </div>

    <%- include('partials/_footer.ejs') %>
</body>

</html>